{% comment %}
old:
	<iframe loading="lazy" class="video-player" width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{include.embed}}" title="video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 

put in head:
  <script defer src="https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.3.2/src/lite-yt-embed.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.3.2/src/lite-yt-embed.min.css" rel="stylesheet">
{% endcomment %}

<lite-youtube
	videoid="{{include.embed}}"
	style="background-image: url('https://i.ytimg.com/vi/{{include.embed}}/hqdefault.jpg');"
	title="{{include.title or 'default'}}"
>
  <a href="https://youtube.com/watch?v={{include.embed}}" class="lty-playbtn" title="Play Video">
    <span class="lyt-visually-hidden">Play Video: {{include.title}}</span>
  </a>
</lite-youtube>
