:root {
	color-scheme: light dark;
}

h1, h2, h3 {
	font-family: ui-rounded;
	* {
		font-family: ui-rounded;
	}
}

* {
	font-family: ui-serif;
}

img {
	max-width: 100%;
}

p {
	line-height: 1.25em;
	padding: 0 0 1em 0;
	text-align: justify;
}

hr {
    text-align: center;
    border: 0;
    font-size: 3rem;
    margin: 0;
}

hr:after {
    content: '☮';
}

header {
	text-align: center;
}

blockquote {
	border-left: solid;
	padding-left: 1em;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: white;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-top: 1px solid;
	border-right: 1px solid;
	border-radius: 0 10px 0 0;

	nav > ul{
		padding-inline-start: 0;
		list-style-type: none;
		font-family: ui-rounded;
		font-weight: bold;
		margin: 0;

		li {
			display: inline;
			padding-left: 5px;
		}

		a {
			text-decoration: none;
		}
	}
}

#posts {
	max-width: 42%;
	margin: 0 auto 2em;

	img {
		max-width: 100%;
	}

	figcaption {
		text-align: center;
		font-size: 1.2em;
	}

	article {
		h2 {
			margin-bottom: 0;
		}

		iframe.video-player {
			max-width: 100%;
			border: none;
		}

		iframe{
			display: block;
			margin: 0 auto;
		}

		.post-content {
			display: none;
		}

		p {
			padding-bottom: 0;
		}
	}
}

#spinner {
	cursor: pointer;
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 150px;
	height: 150px;
	animation: rotate 10s linear infinite;
}

.explode {
	animation: rotate 3s linear infinite, explode 10s forwards !important;
}

.explode:hover {
	opacity: 25%;
	animation: rotate 3s linear infinite, explode 10s forwards !important;
}

@keyframes explode {
	from {
		bottom: 10px;
		right: 10px;
		width: 150px;
		height: 150px;
	}
	to {
		bottom: calc(50% - 300px);
		right: calc(50% - 300px);
		width: 600px;
		height: 600px;
	}
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}


@import "mobile";
@import "theme";
