@media (prefers-color-scheme: dark) {
  body {
    background: hsl(120, 2%, 9%);
    color: rgb(215, 215, 216);
  }
  a {
    color: hsl(206.7, 100%, 70%);
  }

  a:visited {
    color: inherit;
  }

}