<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gizzhead.org | King Gizzard & The Lizard Wizard fan site</title>
    <link rel="stylesheet" href="/assets/css/gizzhead.css">
  </head>
  <body>
  	{% include header.html %}
    <section id="posts">
      {% for post in site.posts reversed %}
        <article>
          <h2>{{post.title}}</h2>
          <time datetime="{{post.date}}">{{post.date | date_to_string: "ordinal", "US" }}</time>
          <section>
            {{post.excerpt}}
            {% if post.excerpt != post.content %}
              <a href="{{post.url}}">Keep reading</a>
            {% endif %}
          </section>
        </article>
        {% if post != site.posts.first %}
          <hr/>
        {% endif %}
      {% endfor %}
    </section>
    {% include footer.html %}
  </body>
</html>
